:root {
    --main-bg-colour: #171918;
    --main-txt-colour: #f7f1e7;
    --navbar-bg-colour: #362c60;
    /* --navbar-bg-colour: #4f3c64; */
}

body {
    font-family: 'Noto Serif', 'KaiTi', '楷体', serif;
    background-color: var(--main-bg-colour);
    color: var(--main-txt-colour);
    text-align: center;
}

.navbar {
    background-color: var(--navbar-bg-colour);
}
.navbar-brand {
    font-family: 'Bungee Shade';
    color: var(--main-txt-colour);
}

.heading {
    font-family: 'ZCOOL QingKe HuangYou';
    color: var(--main-txt-colour);
}

a {
    color: var(--main-txt-colour);
}

#btn-back-to-top {
    position: fixed;
    bottom: 55px;
    right: 20px;
    border-radius: 50%;
    display: none;
  }
